repos:
  - repo: local
    hooks:
      - id: backend-hooks
        name: Backend pre-commit
        entry: bash -c 'cd backend && pre-commit run; cd -'
        language: system
        files: ^backend/
        pass_filenames: false

      - id: frontend-hooks
        name: Frontend lint-staged
        entry: bash -c 'cd frontend && npx lint-staged; cd -'
        language: system
        files: ^frontend/
        pass_filenames: false
